.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  row-gap: 2rem;
}

.actions {
  grid-column: 1/-1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;
}

@media screen and (max-width: 1035px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .form {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 370px) {
  .form {
    padding: 0 1rem;
  }
}
