.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  row-gap: 2rem;
}

.actions {
  grid-column: 1/-1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;
}
