.wrapper {
  border: 1px solid var(--primary-light);
  border-radius: 12px;

  padding: 2rem 4rem;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.heading {
  margin-bottom: 2rem;

  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  text-align: center;

  color: var(--primary-light);
}

.hours {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 1rem;
}

.hour_row {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1rem;

  font-size: 2rem;
  font-weight: 400;

  color: var(--primary-light);
}

.dots {
  position: relative;
}

.dots::after {
  position: absolute;
  content: "";

  width: 100%;
  bottom: 8px;

  border-bottom: 2px dotted var(--text-primary);
}
