.wrapper {
  border: 2px solid var(--primary-secondary);
  border-radius: 12px;

  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 2rem 4rem;
}

.heading {
  margin-bottom: 4rem;

  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  text-align: center;
}

.address {
  font: inherit;
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 2rem;
}

.address_row {
  font-size: 1.7rem;
  font-weight: 400;

  color: var(--primary-first);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  text-align: right;
}

@media screen and (max-width: 1400px) {
  .heading {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
}
