.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.2rem;
  font-weight: 600;
  font-family: var(--font-heading);

  line-height: 100%;
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 2.6rem;
  }
}
