.progressWrapper {
  padding: 0 1rem;

  margin: 2.5rem 0 4rem;
}

.progressBox {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 0 4rem;
}

.number {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  border: 3px solid var(--primary-first);
  color: var(--primary-first);

  display: flex;
  align-items: center;
  justify-content: center;
}

.centerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  background: none;
  border: none;

  color: inherit;

  cursor: pointer;
}

.step:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.step:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.stepText,
.number {
  font-size: 2.4rem;
  font-weight: 500;
}

.progress {
  width: 100%;
  height: 15px;

  margin-top: 2rem;

  box-shadow: 0 4px 8px var(--background-first);
  background-color: var(--text-primary);
  border-radius: 12px;

  position: relative;
}

.progressInner {
  background-color: var(--primary-first);
  border-radius: 12px;

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
}

@media screen and (max-width: 1350px) {
  .progressWrapper {
    margin: 4rem 0 8rem;
  }
}

@media screen and (max-width: 645px) {
  .progressBox {
    padding: 0 1rem;
  }

  .number {
    width: 4rem;
    height: 4rem;
  }

  .stepText,
  .number {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 400px) {
  .number {
    width: 3.25rem;
    height: 3.25rem;
  }

  .stepText,
  .number {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
