.container {
  width: 100%;
  max-height: 100dvh;

  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 42.5rem;
  grid-template-rows: repeat(3, 1fr);

  gap: 2rem;

  & > * {
    border-radius: 12px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    max-height: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85dvh max-content;
  }
}
