.item {
  width: 100%;

  display: grid;
  grid-template-columns: max-content 1fr max-content max-content max-content;
  grid-template-rows: 15rem;

  gap: 5rem;

  align-items: center;
  justify-items: center;

  padding: 0 3rem 3rem;
  border-bottom: 1px solid var(--text-primary);
}

.summaryGrid {
  grid-template-columns: max-content 1fr max-content 10rem;
}

.item:last-child {
  border-bottom: 1px solid transparent;
}

.image {
  width: 15rem;
  aspect-ratio: 1/1;

  object-fit: cover;
  object-position: center;

  border-radius: 50%;
}

.heading,
.price,
.quantity {
  font-size: 2.6rem;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2.5rem;
}

.buttonQuantity {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--primary-first);

  font-size: 3.6rem;
}

.deleteButton {
  background: none;
  border: none;

  color: inherit;

  font-size: 3.2rem;

  cursor: pointer;
}
