.cart {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 5rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.empty {
  text-align: left;
  font-size: 4.2rem;
}

@media screen and (max-width: 1200px) {
  .cart {
    grid-template-columns: 1fr;
  }

  .empty {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .empty {
    font-size: 3.2rem;
  }
}
