.header {
  position: absolute;

  background-color: var(--background-first);
  box-shadow: 0 6px 8px var(--shadow-color);

  top: 6.5rem;
  left: 8rem;

  border-radius: 16px;
  padding: 1rem 1.5rem;

  display: flex;
  gap: 1.5rem;

  z-index: 1000;
}

@media screen and (max-width: 1350px) {
  .header {
    top: 4rem;
    left: 50%;

    transform: translateX(-50%) !important;
  }
}

@media screen and (max-width: 425px) {
  .header {
    gap: 1rem;
  }
}
