.header {
  position: absolute;

  background-color: var(--background-dark);
  box-shadow: 0 6px 12px var(--shadow-color);

  border: 2px solid var(--primary-color);

  top: 6.5rem;
  left: 8rem;

  border-radius: 16px;
  padding: 1rem 1.5rem;

  display: flex;
  gap: 1.5rem;

  z-index: 1000;
}
