.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:link,
.link:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  font-size: 2rem;

  padding: 0.5rem 1rem;

  transition: all 0.3s;
}

.link:hover,
.link:active,
.link:focus-within {
  color: var(--primary-light);
}

.underline {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--primary-first);

  transition: backgroundColor 0.3s;
}

.link:hover .underline,
.link:active .underline,
.link:focus-within .underline {
  background-color: var(--primary-light);
}

@media screen and (max-width: 425px) {
  .link:link,
  .link:visited {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }
}
